


/*Global rules*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

body{
    width: 100%;
    height: 100%;
    /* background: url() no-repeat center fixed; */
    background-color: pink;
    background-size: cover;
}

a{
    text-decoration: none;
    color: #eee;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;
}

/*End of Global rules*/

/*Reusable rules*/


/*End of Reusable rules*/

/* Header Rules */

/* End of Header Rules */

/*About rules*/


/*End of About rules*/

/*Portfolio rules*/


/*End of Portfolio rules*/

/*Experience rules*/


/*End of Experience rules*/

/*Contact rules*/


/*End of Contact rules*/